<!DOCTYPE html>
<html>
    <head>

      <%- include('../views/partials/head') %>
      
    </head>
 
  <body>
    <header>

      <%- include('../views/partials/header') %>
      
    </header>

    <main>

      <%- include('../views/partials/home') %>
      <%- include('../views/products/productDetail') %>
      <%- include('../views/products/productCartl') %>
      <%- include('../views/users/login') %>
      <%- include('../views/users/register') %>
     
    </main>

  </body>
  
  <footer>

    <%- include('../views/partials/footer') %>
    
  </footer>  
    
</html>
