


<head>
    <%- include('../partials/head', {title}) %>
</head>

<header>

    <%- include('../partials/header') %>

    <h1 class="encabezado">Administrar Productos</h1>
    
</header>
<a href="/products/productAdd" class="nuevo">Agregar Nuevo Producto</a>
<a href="/products/listaProductos" class="nuevo">Ver lista productos</a>
<a href="/profile" class="nuevo">Volver</a>

<body>       

    
    <table>
        <thead> <!-- Encabezado de la tabla-->
            <tr> <!-- filas -->
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Ingredientes</th>
                <th>Tamaño</th>
                <th>Precio</th>
                <th>Acciones</th>

            </tr>
        </thead>

        <tbody> <!-- cuerpo de la--> 
            <% products.forEach(product => { %> <!-- Aquí, se itera sobre cada producto en el menú de la primera variedad de la pizzería.-->
             <tr> <!-- Para cada producto, se genera una fila en la tabla:-->
                <td><%= product.name %></td> 
                <td><%= product.category.name %></td> 
                <td><%= product.ingredients.length ? product.ingredients.map(i => i.name).join(', ') : 'Sin ingredientes' %></td> 
                <td><%= product.sizes.length ? product.sizes.map(s => s.name).join(', ') : 'Tamaño único' %></td> 
                <td> $ <%= product.price %></td> 
                <td> 
                    <a href="/products/productEdit/<%= product.id %>" class="edit">Editar</a>
                    <form action="/products/remove/<%= product.id %>?_method=DELETE" method="post" class="delete-form" onsubmit="return confirm('¿Estás seguro de eliminar este producto?')"> 
                        <button type="submit" class="delete">Eliminar</button> 
                    </form>
                    
                </td> 
             </tr> 
            <% }) %> 
    </tbody>
        
    </table>
</body>
