


<head>
    <%- include('../partials/head', {title}) %>
</head>

<header>

    <%- include('../partials/header') %>

    <h1 class="encabezado">Administrar Productos</h1>
    
</header>

<a href="/products/productAdd" class="nuevo">Agregar Nuevo Producto</a>
<body>       

    
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Ingredientes</th>
                <th>Tamaño</th>
                <th>Precio</th>
                <th>Acciones</th>

            </tr>
        </thead>

        <tbody> 
            <% products.menu.forEach(product => { %> <!-- Aquí, se itera sobre cada producto en el menú de la primera variedad de la pizzería.-->
             <tr> <!-- Para cada producto, se genera una fila en la tabla:-->
                <td><%= product.nombre %></td> 
                <td><%= product.categoria %></td> 
                <td><%= product.ingredientes ? product.ingredientes.join(', ') : 'Sin ingredientes' %></td> 
                <td><%= product.tamano %></td>
                <td> $ <%= product.precio %></td> 
                <td> 
                    <a href="/products/productEdit/<%= product.id %>" class="edit">Editar</a>
                    <form action="/products/remove/<%= product.id %>?_method=DELETE" method="post" class="delete-form"> 
                        <button type="submit" class="delete">Eliminar</button> 
                    </form>
                    
                </td> 
             </tr> 
            <% }) %> 
    </tbody>
        
    </table>
</body>
