<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { title }) %>
</head>

<header>
    <%- include('../partials/header', { title }) %>
</header>

<body>
    <main>
        
        <img src="/<%= product.imagen %>" alt="<%= product.nombre %>" class="img-producto" id="producto">

        <h3>Ingredientes</h3><i class="fa-solid fa-cart-shopping car"></i>

        <p class="description" id="description"><%= product.ingredientes.join(', ') %></p>
        <!-- <p class="description" id="description"><%= product.ingredientes %></p> -->

        <div class="contador"> 
            <button class="boton">$<%= product.precio %></button>
            <button class="boton" onclick="decrementar()">-</button> 
            <span id="valor"></span> 
            <button class="boton" onclick="incrementar()">+</button>
            <button class="boton">5%</button>
        </div>
        
        
        
        <a href="/products">Volver al listado</a>
    </main>

    <script src="../javascripts/productCartl.js"></script>
</body>
</html>
