<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title}) %>
</head>

<header>

    <%- include('../partials/header', {title}) %>
    
</header>


<body>

    <main>
        <% products.forEach(({id, nombre, ingredientes, precio, categoria, imagen}) => { %>
        <img src="/<%= imagen %>" alt="<%= nombre %>" class="img-producto" id="producto">

        <h3>Ingredientes</h3><i class="fa-solid fa-cart-shopping car"></i>

        <p class="description" id="description"><%= ingredientes.join(", ") %></p>

        


        
        <div class="contador"> 
    
            <button class="boton">$ </button>
        
            <button class="boton" onclick="decrementar()">-</button> 
            <span id="valor"></span> 
            <button class="boton" onclick="incrementar()">+</button> <%= precio %>

            <button class="boton">5%</button>
        </div>
        <% }) %>
    </main>

    <script src="../javascripts/productCartl.js"></script>

</body>
</html>