<head>
    <%- include('../partials/head', {title}) %>
</head>

<header>

    <%- include('../partials/header') %>

</header>


<h1 class="titulo__productAdd">Agregar Nuevo Producto</h1>

<body>

    <form action="/products/productAdd" class="form__productAdd" method="post" enctype="multipart/form-data">

        <!-- <label for="name">Nombre del Producto:</label>  -->
        <input type="text" id="nombre" name="name" required placeholder="Nombre del producto" class="input__add">



        <!-- <label for="description">Descripcion:</label>  -->
        <input type="text" id="descripcion" name="description" required placeholder="Descripcion" class="input__add">

        <!-- <label for="price">Precio:</label>  -->
        <input type="number" id="precio" name="price" required placeholder="Precio" class="input__add">

        <div style="display: flex; flex-wrap: wrap; margin: 20px 0;">


            <div id="ingredientes" style=" width: 60%; height: 400px; ">
                <label for="ingredientes" style="font-weight: 800; color: white; ">Seleccione los ingredientes:</label>
                <div id="ingredientes" style="display: flex; flex-wrap: wrap;margin: 20px 0;">
                    <% ingredients.forEach((i)=> { %>
                        <div style="width: 50%; display: flex; align-items: center;">
                            <input type="checkbox" id="i<%= i.name %>" style="width: 50px; margin: 0;"
                                name="ingredients" value="<%= i.id %>">
                            <label for="i<%= i.name %>">
                                <%= i.name %>
                            </label>
                        </div>
                        <% }) %>
                </div>
            </div>

            <div style="width: 40%;">
                <div>
                    <label for="categoria" style="font-weight: 800; color: white; ">Categoría:</label>
                    <select name="categoryId" id="categoria" style="margin: 20px 0; width: 90%;">
                        <option value="" disabled selected>Elija un categoria</option>
                        <% categories.forEach(c=> { %>
                            <option value="<%= c.id %>">
                                <%= c.name %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div>
                    <label for="tamaños" style="font-weight: 800; color: white; ">Seleccione los tamaños:</label>
                    <div id="tamaños" style="display: flex; flex-wrap: wrap;margin: 20px 0;">
                        <% sizes.forEach(s=> { %>
                            <div style="display: flex; align-items: center;">
                                <input type="checkbox" id="i<%= s.name %>" style="width: 50px; margin: 0;"
                                    name="sizes" value="<%= s.id %>">
                                <label for="i<%= s.name %>">
                                    <%= s.name %>
                                </label>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <div>
                    <label for="file" style="font-weight: 800; color: white; ">Imagen:</label>

                    <input type="file" id="imagen" name="imagen" style="width: 90%;">

                </div>
                <button type="submit" class="btn_productAdd" style="width: 90%;">Agregar Producto</button>

            </div>

        </div>
        <!-- <label for="image"></label> -->



    </form>
</body>