<head>
    <%- include('../partials/head', {title}) %>
</head>

<header>

    <%- include('../partials/header') %>

</header>


<h1 class="titulo__productAdd">Agregar Nuevo Producto</h1>

<body>

    <form action="/products/productAdd" class="form__productAdd" method="post" enctype="multipart/form-data">

        <!-- <label for="name">Nombre del Producto:</label>  -->
        <input type="text" id="nombre" name="name" required placeholder="Nombre del producto" class="input__add">

        <!-- <label for="description">Descripcion:</label>  -->
        <input type="text" id="descripcion" name="description" required placeholder="Descripcion" class="input__add">

        <!-- <label for="price">Precio:</label>  -->
        <input type="number" id="precio" name="price" required placeholder="Precio" class="input__add">

        <div class="containerAdd">
            
            <div class="containerAdd__ingredients">
                <label for="ingredientes" class="containerAdd__ingredients-label">Seleccione los ingredientes:</label>
                <div class="ingredients">
                    <% ingredients.forEach((i)=> { %>
                        <div class="ingredients__box">
                            <input type="checkbox" id="i<%= i.name %>" name="ingredients" class="input__add2"  value="<%= i.id %>">
                            <label for="i<%= i.name %>" class="name__label">
                                <%= i.name %>
                            </label>
                        </div>
                        <% }) %>
                </div>
            </div>

            <div class="categ">
                <div>
                    <label for="categoria" class="category__label">Categoría:</label>
                    <select name="categoryId" id="categoria" class="category__select">
                        <option value="" disabled selected>Elija un categoria</option>
                        <% categories.forEach(c=> { %>
                            <option value="<%= c.id %>">
                                <%= c.name %>
                            </option>
                            <% }) %>
                    </select>
                </div>

                <div>
                    <label for="tamaños" class="size__label">Seleccione los tamaños:</label>
                    <div id="tamaños" class="size__label-div">
                        <% sizes.forEach(s=> { %>
                            <div class="container__checkbox">
                                <input type="checkbox" id="i<%= s.name %>" name="sizes" value="<%= s.id %>" class="container__checkbox-input">
                                <label for="i<%= s.name %>" class="name__label">
                                    <%= s.name %>
                                </label>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <div>
                    
                    <input type="file" id="imagen" name="image" class="file__input">
                    <label for="file" class="file__label">Imagen:</label>
                </div>
                <button type="submit" class="btn_productAdd">Agregar Producto</button>

            </div>

        </div>

    </form>

    <a href="/admin" class="btn__back">Volver</a>
</body>