<head>
    <%- include('../partials/head', {title}) %>
    <title><%= title %></title>
</head>

<header>
    <%- include('../partials/header') %>
</header>

<body>
    <h1 class="titulo__productEdit">Editar Productos</h1>
    

    <form action="/products/update/<%= product.id %>?_method=PUT" class="form__productEdit" method="post" enctype="multipart/form-data"> 
        <!-- <label for="nombre">Nombre del Producto:</label>  -->
        <input type="text"  name="nombre" required placeholder="Nombre del producto" value="<%=product.name%>" class="input__productEdit">        
        
        <!-- <label for="description">Descripcion:</label>  -->
        <!-- <input type="text" id="ingredientes" name="ingredientes" required placeholder="ingredientes" value="< product.ingredients %>">  -->

        <label class="checkbox-titulo">Selecciona los Ingredientes:</label>
            <div class="checkbox-container-edit">
                <% if (allIngredients && allIngredients.length > 0) { %>
                <% allIngredients.forEach(ingredient => { %>
                    <label class="checkbox">
                        <input type="checkbox" name="ingredientes[]" value="<%= ingredient.id %>" <%= product.ingredients.some(i => i.id === ingredient.id) ? 'checked' : '' %> class="checkbox__input">
                        <p class="ingredientes__nombre"><%= ingredient.name %></p>
                    </label>
                <% }); %>
                <% } else { %>
                    <p>No hay ingredientes disponibles</p>
                <% } %>
            </div>

        

        <!-- <label for="category">Categoría:</label>  -->
        <!-- <input type="text" id="categoria" name="categoria" required placeholder="Categoria" value="< product.category %>">  -->
            <div class="container__select">
                <label for="categoria" class="labels">Categoría:</label>
                    <select name="categoria" id="categoria" required class="select__productEdit">
                        <% allCategories.forEach(category => { %>
                            <option value="<%= category.id %>" <%= category.id === product.categoryId ? 'selected' : '' %>>
                                <%= category.name %>
                            </option>
                        <% }); %>
                    </select>
    
    
                <label for="tamano" class="labels">Tamaño:</label>
                    <select name="sizes" id="tamano" class="select__productEdit">
                        <% allSizes.forEach(size => { %>
                            <option value="<%= size.id %>" <%= product.id === product.sizeId ? 'selected' : '' %>>
                                <%= size.name %>
                            </option>
                        <% }); %>
                    </select>
            </div>
    

        <div class="precio__imagen">
            <label for="price" class="labels">Precio:</label> 
            <input type="number" id="precio" name="precio"  placeholder="Precio" value="<%= product.price %>">
            
            <label for="image"></label>
            <input type="file" id="imagen" name="imagen" placeholder="Imagen" class="file"> <!--no tiene value porque el input imagen no puede tener valor predeterminado -->
            
        </div>

        <button type="submit" class="btn_productEdit">Actualizar Producto</button>
    </form>
    <a href="/admin" class="atras">Volver</a>
</body>
