<!DOCTYPE html>
<html lang="en">

<head
    <%- include('../partials/head', {title}) %>
</head>

<header>

    <%- include('../partials/header', {title}) %>
    
</header>

    <h2 class="titulo__menu">Menu</h2>

    <main class="main-container">

        <section class="food">
            <% products.forEach(({id, name, categoria, ingredients, price, description, images}) => { %>
            <article>
                <a href="/products/productEspecific/<%= id %>" style="color: black;">
                    <h3><%= name %></h3>

                    <% if (images && images.length > 0) { %>

                        <% images.forEach(({ imageUrl }, index) => { %>
                            <img 
                                src="/<%= imageUrl %>" 
                                alt="<%= name %>" 
                                class="foto <%= index === images.length - 1 ? 'ultima-imagen' : '' %>"
                            >
                        <% }) %>
                        
                        <!-- <% images.forEach(({ imageUrl }) => { %>
                            <img src="/<%= imageUrl %>" alt="<%= name %>" class="foto">
                        <% }) %> -->
                    <% } else { %>
                        <p>No hay im谩genes disponibles.</p>
                    <% } %>
                
                </a>
            
            
                <p class="texto__producto">
                    <%= description %>
                    <a href="/products/productEspecific/<%= id %>">Ver Mas</a>
                </p>
                
                
            </article>
            <% }) %>
        </section>

        <!-- <h2>Productos Especiales</h2>

        <section class="food">  
            
            <article>
                <h3></h3>
    
                <img src="./images/Capricciosa.webp" alt="" class="foto">
                <p>
                    Algunos chefs incluyen huevo cocido, salame o alcaparras, dependiendo de la regi贸n y las preferencias. La Pizza Caprichosa es un reflejo de la creatividad culinaria italiana, ideal para quienes disfrutan de una explosi贸n de sabor
                </p>
            </article>
            
            <article>
                <h3<> </h3>
                <img src="./images/pugliesefoto.webp" alt="Pizza pugliese" class="foto">
                <p>
                    La Pizza Pugliese es una opci贸n perfecta para quienes buscan una experiencia sencilla pero sabrosa, donde los ingredientes locales brillan por s铆 mismos
                </p>
            </article>
    
            <article>
                <h3></h3>
                <img src="./images/vegetarianafoto.webp" alt="Pizza vegetariana" class="foto">
                <p>
                    La Pizza Vegetariana combina lo mejor de los ingredientes naturales, ofreciendo una experiencia sabrosa y vers谩til que encanta tanto a vegetarianos como a amantes de la comida saludable.
                </p>
            </article>
    
            <article>
                <h3></h3>
                <img src="./images/Gorgoypera.webp" alt="Pizza gorgonzola" class="foto">
                <p>
                    La Pizza de Gorgonzola y Pera es una mezcla armoniosa de texturas y sabores, ideal para ocasiones especiales o para disfrutar con una copa de vino blanco o prosecco. Su perfil 煤nico la convierte en una experiencia inolvidable 
                </p>
            </article>

        </section>

        
        <h2>Complementos: Ensaladas</h2>

        <section class="food">
            <article>
                <h3></h3><h3>Ensalada Tricolor</h3>
                <img src="./images/ensaladaTricolore.jpg" alt="Ensalada tricolor" class="foto foto__ensalada">
                <p>
                    Se elabora de manera armoniosa, destacando los colores de cada ingrediente, y se ali帽a justo antes de servir. La ensalada tricolor es una celebraci贸n de los sabores mediterr谩neos, perfecta para quienes disfrutan de platos saludables y est茅ticamente atractivos.
                </p>
    
            </article>
    
            <article>
                <h3></h3>
                <img src="./images/ensaladaMixta.webp" alt="Ensalada mixta" class="foto foto__ensalada">
                <p>La ensalada mixta es un plato equilibrado, saludable y adaptable, ideal para quienes buscan una opci贸n ligera pero llena de sabor. Su simplicidad y frescura la convierten en una opci贸n popular</p>
            </article>
            
        </section>
        -->
        <h2>Comentarios</h2>
        <section class="comments-section">
            
                <div class="comment">
                    <img src="/images/coment1.webp" alt="Person 1" class="toggleImage" data-comment="comment1">
                    <p id="comment1">"La pizza Margarita fue una explosi贸n de sabores frescos y aut茅nticos. La albahaca, el tomate y la mozzarella se complementaron perfectamente. 隆Incre铆ble!"</p>
                </div>
                <div class="comment">
                    <img src="/images/coment2.webp" alt="Person 2" class="toggleImage" data-comment="comment2">
                    <p id="comment2">"Me gust贸 mucho la ensalada mixta. Los ingredientes estaban frescos y bien balanceados. Sin duda, una opci贸n saludable y satisfactoria." </p>
                </div>
                <div class="comment">
                    <img src="/images/coment3.webp" alt="Person 3" class="toggleImage" data-comment="comment3">
                    <p id="comment3">"La pizza de gorgonzola y pera me sorprendi贸 gratamente. El sabor intenso del queso gorgonzola se equilibraba perfectamente con la dulzura de las peras. Una opci贸n gourmet que vale la pena probar." </p>
                </div>
            
            
            
                <div class="comment">
                    <img src="/images/coment4.webp" alt="Person 4" class="toggleImage" data-comment="comment4">
                    <p id="comment4">"El vino de la casa fue una grata sorpresa. Su sabor equilibrado complement贸 perfectamente nuestra comida. Definitivamente lo recomendar铆a." </p>
                </div>
                <div class="comment">
                    <img src="/images/coment5.webp" alt="Person 5" class="toggleImage" data-comment="comment5">
                    <p id="comment5">"La pizza vegetariana fue una delicia. Los vegetales frescos y bien cocidos crearon una combinaci贸n de sabores realmente agradable. Una opci贸n saludable y sabrosa que volver铆a a pedir."</p>
                </div>
                <div class="comment">
                    <img src="/images/coment6.webp" alt="Person 6" class="toggleImage" data-comment="comment6">
                    <p id="comment6">"La atenci贸n fue excelente. La pizza capricciosa, fue una explosi贸n de sabores. Los ingredientes estaban frescos y bien combinados. Sin duda, una experiencia para repetir."</p>
                </div>
            
        </section>
    </main>

    <i class="fa-solid fa-arrow-up arrow2"></i>

    <script src="../javascripts/productDetail.js"></script>
</body>
    
</html>